<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.criandojogosandroid.cap05ex01_textos" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SimpleActivity"
            android:label="Texto Simples - Árvore">
            <intent-filter>
                <action android:name="phd.com.br.textos.SimpleActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".TTFActivity"
            android:label="Usando Fontes TTF">
            <intent-filter>
                <action android:name="phd.com.br.textos.TTFActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".TextPathActivity"
            android:label="Textos sobre Caminhos">
            <intent-filter>
                <action android:name="phd.com.br.textos.TextPathActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
